In [1]:
import pandas as pd
from push_data_to_db import connect_n_push_to_db
from datetime import datetime

In [2]:
df = pd.read_csv('tick_data.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376535330,received_time:1664451377210455,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True
1,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376539541,received_time:1664451377214767,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True
2,symbol: CNE LN Equity,event:BID_CHANGE,server_time:1664451376539598,received_time:1664451377218490,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True
3,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376539611,received_time:1664451377222651,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True
4,symbol: CNE LN Equity,event:BID_CHANGE,server_time:1664451376604863,received_time:1664451377225040,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True

In [3]:
def split_info(a):
    split_a = a.split(":")
    return split_a[1].strip()

In [4]:
df['symbol'] = df[0].apply(lambda x: split_info(x))
df['event'] = df[1].apply(lambda x: split_info(x))
df['server_time'] = df[2].apply(lambda x: split_info(x))
df['received_time'] = df[3].apply(lambda x: split_info(x))
df['price'] = df[4].apply(lambda x: split_info(x))
df['vol'] = df[5].apply(lambda x: split_info(x))
df['bid'] = df[6].apply(lambda x: split_info(x))
df['ask'] = df[7].apply(lambda x: split_info(x))
df['valid'] = df[8].apply(lambda x: split_info(x))
df['outliner'] = df[9].apply(lambda x: split_info(x))

df.head()

,0,1,2,3,4,5,6,7,8,9,symbol,event,server_time,received_time,price,vol,bid,ask,valid,outliner
0,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376535330,received_time:1664451377210455,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,ASK_CHANGE,1664451376535330,1664451377210455,254.2,1692,254.0,254.4,True,True
1,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376539541,received_time:1664451377214767,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,ASK_CHANGE,1664451376539541,1664451377214767,254.2,1692,254.0,254.4,True,True
2,symbol: CNE LN Equity,event:BID_CHANGE,server_time:1664451376539598,received_time:1664451377218490,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,BID_CHANGE,1664451376539598,1664451377218490,254.2,1692,254.0,254.4,True,True
3,symbol: CNE LN Equity,event:ASK_CHANGE,server_time:1664451376539611,received_time:1664451377222651,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,ASK_CHANGE,1664451376539611,1664451377222651,254.2,1692,254.0,254.4,True,True
4,symbol: CNE LN Equity,event:BID_CHANGE,server_time:1664451376604863,received_time:1664451377225040,price: 254.2,vol: 1692,bid:254.0,ask: 254.4,valid: True,outliner: True,CNE LN Equity,BID_CHANGE,1664451376604863,1664451377225040,254.2,1692,254.0,254.4,True,True

In [5]:
df = df.iloc[:,10:]

df.head()

,symbol,event,server_time,received_time,price,vol,bid,ask,valid,outliner
0,CNE LN Equity,ASK_CHANGE,1664451376535330,1664451377210455,254.2,1692,254.0,254.4,True,True
1,CNE LN Equity,ASK_CHANGE,1664451376539541,1664451377214767,254.2,1692,254.0,254.4,True,True
2,CNE LN Equity,BID_CHANGE,1664451376539598,1664451377218490,254.2,1692,254.0,254.4,True,True
3,CNE LN Equity,ASK_CHANGE,1664451376539611,1664451377222651,254.2,1692,254.0,254.4,True,True
4,CNE LN Equity,BID_CHANGE,1664451376604863,1664451377225040,254.2,1692,254.0,254.4,True,True

In [6]:
df['server_year'] = df['server_time'].apply(lambda x: datetime.fromtimestamp(int(x)/1000000).strftime("%Y"))
df['server_month'] = df['server_time'].apply(lambda x: datetime.fromtimestamp(int(x)/1000000).strftime("%-m"))
df['server_day'] = df['server_time'].apply(lambda x: datetime.fromtimestamp(int(x)/1000000).strftime("%-d"))
df['server_hour'] = df['server_time'].apply(lambda x: datetime.fromtimestamp(int(x)/1000000).strftime("%-H"))
df['server_minute'] = df['server_time'].apply(lambda x: datetime.fromtimestamp(int(x)/1000000).strftime("%-M"))

df.head()

,symbol,event,server_time,received_time,price,vol,bid,ask,valid,outliner,server_year,server_month,server_day,server_hour,server_minute
0,CNE LN Equity,ASK_CHANGE,1664451376535330,1664451377210455,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
1,CNE LN Equity,ASK_CHANGE,1664451376539541,1664451377214767,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
2,CNE LN Equity,BID_CHANGE,1664451376539598,1664451377218490,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
3,CNE LN Equity,ASK_CHANGE,1664451376539611,1664451377222651,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
4,CNE LN Equity,BID_CHANGE,1664451376604863,1664451377225040,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36

In [7]:
# list(df.loc[2])

In [8]:
# connect_n_push_to_db(df)

In [9]:
deltat = (datetime.fromtimestamp(int(df['server_time'][1])/1000000) - datetime.fromtimestamp(int(df['server_time'][0])/1000000)).total_seconds()

In [10]:
deltat

0.004211

In [11]:
def to_timestamps(year,month,day,hour,min):
    dtime = datetime(year,month,day,hour,min)
    dtimestamp = dtime.timestamp() * 1000000
    return round(dtimestamp)

In [12]:
a = to_timestamps(2022,9,9,18,36)
a

1662723360000000

In [13]:
df

,symbol,event,server_time,received_time,price,vol,bid,ask,valid,outliner,server_year,server_month,server_day,server_hour,server_minute
0,CNE LN Equity,ASK_CHANGE,1664451376535330,1664451377210455,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
1,CNE LN Equity,ASK_CHANGE,1664451376539541,1664451377214767,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
2,CNE LN Equity,BID_CHANGE,1664451376539598,1664451377218490,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
3,CNE LN Equity,ASK_CHANGE,1664451376539611,1664451377222651,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
4,CNE LN Equity,BID_CHANGE,1664451376604863,1664451377225040,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,CNE LN Equity,ASK_CHANGE,1664530177940708,1664530177958380,243.6,72,243.2,244.0,True,False,2022,9,30,16,29
111,CNE LN Equity,BID_CHANGE,1664530177940711,1664530177961182,243.6,72,243.2,244.0,True,False,2022,9,30,16,29
112,CNE LN Equity,ASK_CHANGE,1664530177940713,1664530177963803,243.6,72,243.2,244.0,True,False,2022,9,30,16,29
113,CNE LN Equity,BID_CHANGE,1664530184746919,1664530184747223,243.6,72,243.2,244.0,True,False,2022,9,30,16,29
114,CNE LN Equity,BID_CHANGE,1664530184746922,1664530184754108,243.6,72,243.2,244.0,True,False,2022,9,30,16,29

In [36]:
for i in range(len(df)):
    if i < len(df) - 1:
        df.at[i,'delta_t'] = (datetime.fromtimestamp(int(df['server_time'][i+1])/1000000) - datetime.fromtimestamp(int(df['server_time'][i])/1000000)).total_seconds()
    else:
        df.at[i,'delta_t'] = 0

In [37]:
df

,symbol,event,server_time,received_time,price,vol,bid,ask,valid,outliner,server_year,server_month,server_day,server_hour,server_minute,delta_t
0,CNE LN Equity,ASK_CHANGE,1664451376535330,1664451377210455,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36,0.004211
1,CNE LN Equity,ASK_CHANGE,1664451376539541,1664451377214767,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36,0.000057
2,CNE LN Equity,BID_CHANGE,1664451376539598,1664451377218490,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36,0.000013
3,CNE LN Equity,ASK_CHANGE,1664451376539611,1664451377222651,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36,0.065252
4,CNE LN Equity,BID_CHANGE,1664451376604863,1664451377225040,254.2,1692,254.0,254.4,True,True,2022,9,29,18,36,0.724599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,CNE LN Equity,ASK_CHANGE,1664530177940708,1664530177958380,243.6,72,243.2,244.0,True,False,2022,9,30,16,29,0.000003
111,CNE LN Equity,BID_CHANGE,1664530177940711,1664530177961182,243.6,72,243.2,244.0,True,False,2022,9,30,16,29,0.000002
112,CNE LN Equity,ASK_CHANGE,1664530177940713,1664530177963803,243.6,72,243.2,244.0,True,False,2022,9,30,16,29,6.806206
113,CNE LN Equity,BID_CHANGE,1664530184746919,1664530184747223,243.6,72,243.2,244.0,True,False,2022,9,30,16,29,0.000003
114,CNE LN Equity,BID_CHANGE,1664530184746922,1664530184754108,243.6,72,243.2,244.0,True,False,2022,9,30,16,29,0.000000